---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";

import { getCollection } from "astro:content";
import { SidebarLayout } from "@/layouts/sidebar";
const allPosts = (await getCollection("blog"))
	.toSorted((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 3);
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
			image="/images/optimized/pregnancy-light.avif"
		/>
	</head>
	<body>
		<SidebarLayout
			client:load
			currentPath={Astro.url.pathname}
			title={{ title: "Início" }}
		>
			<h1>Acolhendo sua jornada rumo à maternidade</h1>
			<Image
				width={1020}
				height={510}
				src="/images/optimized/pregnancy-light.avif"
				alt="Uma mulher grávida com um sorriso suave, com a mão na barriga, em um ambiente tranquilo e acolhedor. Ela está sentada em uma cadeira confortável, com luz suave iluminando o espaço ao seu redor. A imagem transmite uma sensação de paz e esperança."
			/>
			<p>
				Se você está tentando engravidar, viveu uma perda gestacional,
				está grávida ou no puerpério — saiba que não está sozinha.
			</p>
			<p>
				Meu trabalho é oferecer <b
					>acolhimento psicológico especializado</b
				>, baseado na <b
					>Psicologia Obstétrica e na Terapia Cognitivo-Comportamental
					(TCC)</b
				>, para mulheres que enfrentam as emoções intensas dessa fase da
				vida com medo, ansiedade e insegurança.
			</p>
			<p>
				&#128172; Atendimentos online e presencial em São José dos
				Campos, com escuta qualificada, sensível e técnica, para
				mulheres do mundo todo.
			</p>
			<div class="flex flex-row justify-center mb-8">
				<a
					href="https://wa.me/message/JDCGIPVRCP6HO1"
					class="button"
					rel="noopener"
					target="_blank"
					onclick="gtag('event', 'conversion', {'send_to': 'AW-11020075250/yBq5COvRpOkaEPKB5IYp'})"
				>
					Agende sua sessão pelo WhatsApp
				</a>
			</div>
			<hr />
			<section>
				<h2>O processo terapêutico</h2>
				<p>
					A jornada terapêutica é um espaço construído entre você e eu
					— com respeito, escuta e cuidado.
				</p>
				<p>
					Se você está tentando engravidar, já passou por perdas
					gestacionais, está vivendo a gravidez ou o puerpério e sente
					que as emoções estão difíceis de lidar, a terapia pode ser o
					seu ponto de apoio.
				</p>
				<p>
					Mesmo que esse caminho seja cheio de medos, incertezas e
					dores, é possível ressignificar a experiência, fortalecer a
					esperança e reencontrar leveza.
				</p>
				<p>
					Aqui, você encontrará um ambiente seguro para falar sobre
					aquilo que talvez você não tenha conseguido dizer em voz
					alta até agora.
				</p>
				<p>
					A sua história importa, e é ela que vai guiar o nosso
					processo.
				</p>
				<p>
					Trabalho com a Terapia Cognitivo-Comportamental (TCC),
					adaptando cada sessão às suas necessidades, para que você se
					sinta acolhida e, aos poucos, mais preparada para lidar com
					o que sente.
				</p>
				<p>Alguns temas que costumam aparecer no consultório:</p>
				<ul class="list-disc pl-5">
					<li>Ansiedade nas tentativas ou durante a gestação</li>
					<li>Medo de uma nova perda</li>
					<li>Luto gestacional ou neonatal</li>
					<li>Culpa, insegurança e sensação de fracasso</li>
					<li>Relação com o corpo e com o próprio valor</li>
					<li>⁠Conflitos no relacionamento conjugal</li>
					<li>Medo de não conseguir ser mãe</li>
					<li>⁠Preparação emocional para a maternidade</li>
				</ul>
				<div class="flex flex-row justify-center my-8">
				<a
					href="https://wa.me/message/JDCGIPVRCP6HO1"
					class="button"
					rel="noopener"
					target="_blank"
					onclick="gtag('event', 'conversion', {'send_to': 'AW-11020075250/yBq5COvRpOkaEPKB5IYp'})"
				>
					Agende sua sessão pelo WhatsApp
				</a>
			</div>
			</section>
			<hr />
			<section>
				<h2>Leia, acolha-se e inspire-se</h2>
				<p>
					Aqui no blog, você encontra conteúdos pensados com carinho
					para te ajudar nessa fase.
				</p>
				<h3>&#128214; Últimos artigos</h3>
				<ul class="list-disc pl-5">
					{allPosts.length === 0 && <li>Nenhum artigo encontrado</li>}
					{
						allPosts.map((post: any) => (
							<li>
								<a
									href={`/blog/${post.id}/`}
									class="text-accent hover:text-accent-700 hover:underline"
								>
									{post.data.title}
								</a>
							</li>
						))
					}
				</ul>
				<div class="flex flex-row justify-center py-4">
					<a href="/blog" class="text-accent hover:text-accent-700 hover:underline"
						>Acesse o blog completo</a
					>
				</div>
			</section>
			
		</SidebarLayout>
	</body>
</html>
